body{
  margin: 0px; padding: 0px;
  background-color: #996666;
  font-family: Arial, Helvetica, sans-serif;
}
#out {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;;
  font-weight: lighter;
  font-size: 14pt;
  text-decoration: underline;
}
#fff {


}
#out2 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;;
  font-weight: lighter;
  font-size: 14pt;
  text-decoration: underline;
}
#out3 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;;
  font-weight: lighter;
  font-size: 14pt;
  text-decoration: underline;
}
#out4 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;;
  font-weight: lighter;
  font-size: 14pt;
  text-decoration: underline;
}
#out5 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;;
  font-weight: lighter;
  font-size: 14pt;
  text-decoration: underline;
}
#foto{
  text-align: center;
}
#out6 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;;
  font-weight: lighter;
  font-size: 14pt;
  text-decoration: underline;
}

